<appSettings>
   <add key="URL" value="https://dev.integrivideo.com/app/projects"/>
   <add key="TestDataSheetPath" value="M:\integrivideo\IntegriVideoProject\IntegriVideoProject\TestDataAcces\TestData.xlsx"/>
   <add key="TestDataSheetPath" value="D:\integrivideo\IntegriVideoProject\IntegriVideoProject\TestDataAcces\TestData.xlsx"/>
   <add key="Browser" value="Chrome"/>
</appSettings>
